{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<header id="navegacion"> {% include "./navegacion.html" %} </header>

	<!-- MODAL BÚSQUEDA -->
	<div class="modal" id="modalBusqueda" tabindex="-1" aria-labelledby="modalBusquedaLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-lg">
			<div class="modal-content" id="cajaModal">
				<div class="modal-header">
					<h5 class="modal-title" id="modalBusquedaLabel">Buscar un juego</h5>
					<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalBusquedaCuerpo">
					<div id="contenedor-busqueda">
						<form class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="Ingrese término de búsqueda..." aria-label="Search" id="buscadorDeJuegos">
							<!-- <button class="btn btn-outline-info" type="submit">Buscar</button> -->
						</form>
					</div>
					<hr>
					<div id="resultadosBusqueda"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL BÚSQUEDA -->
	<!-- MODAL FICHA PRODUCTO -->
	<div class="modal" id="modalFichaProducto" tabindex="-1" aria-labelledby="modalFichaProducto" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content" id="cajaModalFicha">
				<div class="modal-header" id="modalFichaProductoHeader"></div>
				<div class="modal-body" id="modalFichaProductoBody"></div>
				<div class="modal-footer justify-content-center" id="modalFichaProductoFooter"></div>
			</div>
		</div>
	</div>
	<!-- MODAL FICHA PRODUCTO -->
	
	<hr>

	<div style="text-align: center;">
		<button class="btn btn-outline-info" type="submit" data-bs-toggle="modal" data-bs-target="#modalBusqueda"><i class="bi bi-search"></i> Busca juegos aquí</button>
	</div>
	<!-- CONTENEDOR DE JUEGOS -->
	<div id="contenedor-juegos" class="container-fluid">
		<div class="row justify-content-center" id="row-contenedor-juegos"></div>
	</div>
	<!-- CONTENEDOR DE JUEGOS -->
	<!-- CONTENEDOR DE PÁGINAS -->
	<div id="paginas">
		<ul class="pagination pagination-lg justify-content-center" id="paginacion"></ul>
	</div>
	<!-- CONTENEDOR DE PÁGINAS -->
	<!-- BOTÓN CARRITO DE COMPRAS -->
	<div id="carritoCompras" class="sticky-bottom">
		<a href="{% url 'carrito_compras' %}">
			<button id="btnCarritoCompras" class="btn btn-primary btn-flotante" style="display: none;">
				<i class="bi bi-cart"></i><span id="contadorCarritoCompras" style="display: none;">0</span>
			</button>
		</a>
	</div>
	<!-- BOTÓN CARRITO DE COMPRAS -->

	<hr>
	
	<!-- FOOTER DE LA PÁGINA -->
	<footer>
		<div id="page-footer">
			<p>PrograGames &copy; 2024. Todos los derechos reservados.</p>
			<b><p>Hecho con <span id="corazon">♥</span> por Seth.</p></b>
		</div>
	</footer>
	<!-- FOOTER DE LA PÁGINA -->
	<!-- TOAST CONTAINER -->
	<div id="toastContainer" aria-live="polite" aria-atomic="true" style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;"></div>
	<!-- TOAST CONTAINER -->
	<script src="/static/core/js/registro.js"></script>
	<script src="/static/core/js/utils.js" type="module"></script>
	<script src="/static/core/js/index.js" type="module"></script>
	{% comment %} <script src="/static/core/js/main.js" type="module"></script> {% endcomment %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>